
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-icn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.icn-delete {
  color: #d81d37;
}

.icn-delete:hover {
  color: #810f1e;
}

.icn-edit {
  color: #fb9800;
}

.icn-edit:hover {
  color: #bc6d00;
}

.icn-liked {
  color: #cf1228;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.thread-icon {
  float: left;
  padding-right: 10px;
}